@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: 'Roboto', sans-serif;

}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

header h1 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
}

form {
  margin: 30px;
  margin: 30px;
}

.select {
  display: inline;
  margin-left: 20px;

}

.todo-box {
  display: flex;
  margin: 0;
  width: 100%;
}

.todo-box li {
  margin-right: auto;
  text-transform: uppercase;
  list-style: upper-roman;
  width: 100%;
  padding: 2px;
  margin: 3px;
  color: whitesmoke;
  font-weight: bold;
}

.todo-box li.done {
  background-color: rgb(213, 255, 212);
  text-decoration: line-through white;
  color: rgb(112, 112, 112);
}

.todo-box button {
  margin: 3px 5px;
}